@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverAnimation {
    padding: 5px;
    border-radius: 20px;
    transition: 0.2s;
  }
  .hoverAnimation:hover {
    background-color: rgb(200, 200, 200);
  }
  p {
    font-size: 1rem;
  }
}
